body{
    display: flex;
    justify-content: center;
    margin-top: 14%;
    background-color: rgb(169, 55, 55);
}
#screen{
    height: 490px;
    width: 230px;
    background-color: rgba(14, 14, 16, 0.4);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
;
   
}
#screen-input{
    display: flex;
    justify-content: end;
    position: relative;
    top: 3%;
    left:5%;
    height: 70px;
    width: 196px;
  overflow: hidden;
  background-color:#6b2727 ;
    border:none;
    color: grey;
    font-size: 1.7rem;
    
}
input:focus {
    outline: none;
}
input[type="text"] {
    text-align: right;
  }
.mode{
    height: 38px;
    width: 47px;
    
    background-color: rgb(152, 152, 164);
    border-radius: 18px 0px 14px 10px;
    margin: 15px;
    display: flex;
   justify-content: center;
   align-items: center;
}

.button-row{
    display: flex;
    justify-content: center;
    width: 230px;
    flex-wrap: wrap;
   
}
button{  
    height: 50px;
    width: 50px;
    box-shadow:  inset 2px 2px 5px #323030,inset -2px -2px 5px #524e4e;
    background: linear-gradient(145deg, rgb(96, 96, 101), #393636);;
    border-radius: 15px;
    margin:1.9px;
    border:none;  
    color: white;
    font-size: 17px;
 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#screen .grey-box{
   
    color: white;
    font-size: 17px;
    box-shadow:  inset 2px 2px 5px #a6afb0,inset -2px -2px 5px #4e5455;
    background: linear-gradient(145deg, rgb(137, 137, 160), #7b8e97);;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.button-row .orange-box{
    box-shadow:  inset 3px 3px  3px rgb(231, 179, 82),inset -3px -3px 3px rgb(197, 136, 24) ;
    background: linear-gradient(145deg, rgb(210, 141, 13), rgb(244, 166, 31));;
}
